body{
    background-image: url(../img/background2.webp);
    background-color: beige;
}
#content{
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(126, 126, 119);
    width: 90%;
    height: 60%;
}
.title-of-main-site-text{
    color: white;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
