body{
    background-image: url(../img/background.webp);
    background-color: beige;
}
#content{
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgb(126, 126, 119);
    width: 90%;
    height: 65%;
}
#title h1 {
    color: white;
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
}

#image img {
    width: 90%;
    height: 65%;
}

#buttons{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}
.button-no{
    background-color: hsl(0, 40%, 42%); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
.button-yes{
    background-color: hsl(133, 30%, 48%); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
}
.link-site-no{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}
.link-site-yes{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}