body{
    background-image: url(../img/background.webp);
    background-color: beige;
}
#main-part-of-website{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: rgb(126, 126, 119);
    width: 350px;
    height: 500px;
}
.title-of-main-site-text{
    color: white;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
#buttons{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}
.button-no{
    background-color: hsl(0, 40%, 42%); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
.button-yes{
    background-color: hsl(133, 30%, 48%); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
}
.link-site-no{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}
.link-site-yes{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}